p-toolbar button {
    margin: 5px;
}
p-grid {
    display:flex;
    align-items:center;
}

footer {
    padding: 2% 0;
    position:absolute;
    bottom:0;
}

img {
    max-height:800px;
    object-fit: scale-down;
    background-color:#333333;
}

.photo-container {
    overflow: hidden;
    position: relative;
}

.photo {
    position:relative;
}


