#download-btn {
    display:block;
    margin:10px auto 0;
}

#container {
    overflow-x:hidden;
    position:relative;
}

#main {
    font-size: 1rem;
    padding-bottom: 50px;
}

h1 {
    text-align:center;
}

p-toolbar button {
    margin: 5px;
}
p-grid {
    display:flex;
    align-items:center;
    overflow:auto;
}

img, webcam {
    object-fit: scale-down;
    height:80vh;
    margin: 0 auto;
}

.edit-container {
    position: relative;
}

.photo-container {
    position:relative;
    height:80vh;
    display:block;
    object-fit: scale-down;
    background-color:#333333;
}


#footer { 
    background-color: #1e2024;
    text-align:center;
    font-size:1.3rem;
}