<h1>Photo Editor</h1>
  <div id="swipe-area" class="p-grid">

      <div class="photo-container p-md-6 p-col-12">
        <p-toolbar class="p-lg-6">
            <div class="ui-toolbar-group-left">
                <button pButton type="button" label="Take Photo" icon="pi pi-video"></button>
                <button pButton type="button" label="Stop Webcam" icon="pi pi-times"  class="ui-button-danger"></button>
            </div>
        </p-toolbar>

        <img class="photo p-col-12" src="https://ih1.redbubble.net/image.360944662.9208/flat,1000x1000,075,f.jpg">
        <button class="uploadDownload" pButton type="button" label="Upload" icon="pi pi-upload"></button>

      </div>
      
      <div class="photo-container p-md-6 p-col-12">
        <p-toolbar class="p-md-6">
            <div class="ui-toolbar-group-left">
              <button pButton type="button" label="Convert" icon="pi pi-caret-up"></button>
              <button pButton type="button" label="Crop"></button>
              <p-splitButton type="button" label="Edit" icon="pi pi-pencil" [model]="items"></p-splitButton >
            </div>
        </p-toolbar>
        
        <img class="photo p-col-12" src="https://ih1.redbubble.net/image.360944662.9208/flat,1000x1000,075,f.jpg">
        <button class="uploadDownload" pButton type="button" label="Download" icon="pi pi-download"></button>
      </div>

  </div>
    
    

    
